.statistic-radio {
    width: auto;
}

.owl-carousel .carousel-item {
    background: #fff;
    border: 1px solid #D9D7DA;
    text-align: center;
  }
  
  .owl-carousel .carousel-item-text {
    padding: 12px;
  }
  
  .owl-carousel .carousel-item .item-kicker {
    color: #9A5053;
    display: block;
    font-size: .8em;
    font-weight: 600;
    height: 30px;
    margin-bottom: 16px;
    overflow: hidden;
    text-transform: uppercase;
  }
  
  .owl-carousel .carousel-item .item-title {
    color: #646464;
    font-size: 1em;
    font-weight: 600;
    height: 38px;
    margin: 0;
    overflow: hidden;
  }
  
  .owl-dots {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .owl-dot {
    border-radius: 50px;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: rgba(127, 127, 127, 0.5);
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .owl-dot.active {
    background: rgba(127, 127, 127, 1);
  }
  
  
  /* Tabs */
  
  .nav-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .nav-tabs>li {
    display: block;
    position: relative;
    text-align: center;
  }
  
  .nav-tabs>li:last-child {
    margin-right: 0;
  }
  
  .tab-content {
    display: inline-block;
    width: 100%;
  }
  
  .tab-content .tab-pane {
    display: none;
  }
  
  .tab-content .tab-pane.active {
    display: block;
  }