/*
Template Name: Edupix 
Template URI: http://capricorn-theme.net/html/edupix
Description: Education & Online Courses HTMl Template 
Author: Mihir Kanti Ghosh
Author URI: mihir@capricorn-theme.net
Version: 1.0
 */

/* CSS Index
============

## Google Font Import 
## Common CSS
## Bacground Color  
## Background Image  
## Pre-loader
## Scroll Top 
## Sticky 
## Header Top Area
## Header Area  
## Main Menu 
## Hero Area Slider
## About Section 
## Achievement Section 
## Programe Section 
## Courses Section 
## Feature Section 
## CTA Section 
## Events Section 
## Testimonial Section 
## Blog Section 
## Client Section 
## Footer Section 

## Feature Section # 02
## Course Category Section 
## Achievement Section # 02
## Choose Us Section 
## Team Section 
## Testimonial Section # 02


## Hero Area [Home # 03]
## Event Section # 02
## Price Section 


## Breadcrumb Section 
## Programme Page 
## Blog Page 
## Single Blog Page 
## FAQ Page 
## Contact Page 
## Single Course Page 
## Single Event Page 


/* Google Font Import 
======================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');


/*	Theme Main Color:#FCC741
	Theme Secondary Color: #002147*/

/* Common CSS 
============== */

html,
body {
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	position: relative;
	z-index: 1;
	background: #fff;
	overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	margin: 0;
	color: #e9e9e9;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 20px;
}

a {
	text-decoration: none;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	color: #FCC741;
	font-size: 16px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	position: relative;
	color: #777;
}

p.highlight {
	color: #898a9c;
	font-size: 16px;
	line-height: 27px;
}


button,
input,
textarea,
a:hover,
a:focus,
a:visited {
	text-decoration: none;
	outline: none;
	outline-width: 0 !important;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

img {
	display: inline-block;
	max-width: 100%;
}

i,
span,
a {
	display: inline-block;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

li {
	display: inline-block;
}

table,
th,
tr,
td {
	border: 1px solid #191919;
}

th,
tr,
td {
	padding: 10px;
}

hr {
	border-top: 1px solid #eee;
}

.fix {
	overflow: hidden;
}

.auto-container {
	position: static;
	max-width: 1200px;
	padding: 0 80px;
	margin: 0 auto;
}

/*Section Padding CSS*/

.section-padding {
	padding: 100px 0;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.section-padding {
		padding: 80px 10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.section-padding {
		padding: 60px 60px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.section-padding {
		padding: 50px 35px;
	}
}

@media (max-width: 575px) {
	.section-padding {
		padding: 50px 20px;
	}
}

/*Margin & Padding */

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}

.pt-20 {
	padding-top: 20px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pt-30 {
	padding-top: 30px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pt-40 {
	padding-top: 40px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pt-50 {
	padding-top: 50px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pt-60 {
	padding-top: 60px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pt-70 {
	padding-top: 70px;
}

.pb-70 {
	padding-bottom: 70px;
}

.pt-80 {
	padding-top: 80px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pt-100 {
	padding-top: 100px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pt-150 {
	padding-top: 150px;
}

.pb-150 {
	padding-bottom: 150px;
}

.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}


.mt-30 {
	margin-top: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mb-30 {
	margin-bottom: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mt-80 {
	margin-top: 80px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mt-90 {
	margin-top: 90px;
}

.mb-90 {
	margin-bottom: 90px;
}

.mt-100 {
	margin-top: 100px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mt-120 {
	margin-top: 120px;
}

.mb-120 {
	margin-bottom: 120px;
}

.mt-150 {
	margin-top: 150px;
}

.ml-auto {
	margin-left: auto ! important;
}

.mr-auto {
	margin-right: auto ! important;
}

/*Section Title */


.section-title {
	position: relative;
	margin-bottom: 50px;
}

.section-title h2 {
	font-size: 45px;
	font-weight: 400;
	line-height: 55px;
	margin-bottom: 20px;
	color: #1a385b;
}

.section-title h6 {
	color: #CACACA;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*Button Style */

.main-btn {
	display: inline-block;
	background: #FCC741;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: capitalize;
	padding: 15px 40px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
	border-radius: 7px;
	/* border: 2px solid #FCC741; */
}

.main-btn.btn-2 {
	background: transparent;
}

.main-btn.transparent {
	background: transparent;
	color: #fff;
	border: 2px solid #fff;
	margin-right: 20px;
}

.main-btn:hover {
	background-color: #fcc741bf;
	color: #25283a;
	/* border-color: #fff; */
	box-shadow: 0px 15px 30px rgb(0 0 0 / 10%);
}

.main-btn:hover {
	background-color: #fcc741bf;
	color: #25283a;
	/* border-color: #fff; */
	box-shadow: 0px 15px 30px rgb(0 0 0 / 10%);
}

/*Form Style CSS */

input,
textarea,
select {
	width: 100%;
	background: transparent;
	border: 1px solid #ddd;
	padding: 15px 30px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	-webkit-transition: .3s;
	transition: .3s;
	margin-bottom: 20px;
}

textarea {
	height: 150px;
	resize: none;
}

input[type="submit"],
button[type="submit"] {
	border: none;
	border-radius: 0;
	display: inline-block;
	background: #FCC741;
	color: #fff;
	padding: 15px 30px;
	margin: 27px 0;
	width: auto;
	-webkit-transition: .3s;
	transition: .3s;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
}

input::placeholder,
textarea::placeholder {
	font-size: 14px;
	font-weight: 500;
	color: #333;
}


/*Bootstrap CSS*/

.container-fluid {
	padding: 0;
}

/* Bacground Color & Overlay CSS 
============== */

.gray-bg {
	background: #F3F8FB;
}

.white-bg {
	background: #fff;
}

.blue-bg {
	background: #002147;
}

.sky-bg {
	background: #ECF0F9;
}

.bg-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgb(34 47 70 / 75%);
	top: 0;
	left: 0;
	z-index: -1
}

.overlay-1 {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: #002c42;
	opacity: .7;
	top: 0;
	left: 0;
	z-index: -1
}


.overlay-2 {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: #07294E;
	top: 0;
	left: 0;
	z-index: -1
}


/* Pre-Loader CSS 
============== */
#loader {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #F3F8FB;
	z-index: 999999;
}

.spinner {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #FCC741;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {

	0%,
	100% {
		-webkit-transform: scale(0.0)
	}

	50% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bounce {

	0%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}

	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

/* Scroll Top 
============== */
.go-top {
	background-color: #FCC741;
	color: #FFF;
	width: 40px;
	height: 40px;
	bottom: 6em;
	right: 2em;
	font-size: 18px;
	line-height: 43px;
	text-align: center;
	text-decoration: none;
	display: none;
	position: fixed;
	z-index: 1;
	border-radius: 5px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.go-top {
		width: 35px;
		height: 35px;
		bottom: 5em;
		right: 2em;
		font-size: 15px;
		line-height: 33px;
	}
}

@media (max-width: 575px) {
	.go-top i:before {
		font-size: 14px;
	}

	.go-top {
		right: 1em;
		bottom: 6em;
		z-index: 1;
	}
}

.go-top:hover {
	background-color: #ffd15d;
	color: #020E28;
	box-shadow: 0px 15px 30px rgb(0 0 0 / 10%);
}


/* Sticky CSS 
============== */

.header-area .is-sticky .sticky-area {
	background: #fff;
	box-shadow: 0 3px 16px -2px #d0cece;
	z-index: 999 !important;
	-webkit-animation: slideInDown .6s forwards;
	animation: slideInDown .6s forwards;
	margin-top: 0;
}

#header-2.header-area .is-sticky .sticky-area {
	box-shadow: 0 3px 16px -2px #4c4a4ade;
}

#header-3.header-area .is-sticky .sticky-area {
	box-shadow: 0 3px 16px -2px #4c4a4ade;
}



.header-area.absolute-header .is-sticky .sticky-area {
	background: #10102D;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 0;
}

.header-area .is-sticky .navigation {
	margin-top: 0;
}


/* Header Top Area
============== */

.header-top {
	background: #1F2437;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 15px 0;
}

.contact-info i {
	color: #FCC741;
	font-size: 20px;
	margin-right: 2px;
}

.site-info .social-area {
	display: inline-block;
	margin-left: 10px;
}

.site-info .social-area i {
	font-size: 17px;
	color: #8D9CC5;
	padding-left: 10px;
}

/* Header Area 
============== */

.header-area .logo img {
	margin-top: 15px;
}

.sub-title {
	position: relative;
	display: flex;
	align-items: center;
	height: 100px;
	margin-bottom: 0;
}

.sub-title p {
	margin-top: 10px;
}

.sub-title:before {
	position: absolute;
	content: "";
	top: 50%;
	left: -17px;
	height: 35px;
	border-left: 2px solid #eee;
	margin-top: -20px;
}

.header-area .navigation {
	padding: 0px 30px;
	background: #fff;
	height: 120px;
	/* height: 200px; */
	position: relative;
	z-index: 9;
}

#header-2 .navigation {
	background: transparent;
}

#header-3 .navigation {
	height: 80px;
	background: #051232;
	border-top: 1px solid #eee;
}

#header-3 .logo {
	margin-top: 0;
}

#header-3.header-area .logo img {
	margin-bottom: 10px;
}

.header-area li.nav-item .nav-link {
	color: #020E28;
}

#header-3 .main-menu .navbar-nav .nav-link {
	padding: 30px 0;
	color: #d7d7d7;
}

#header-3.header-area .header-btn.main-btn {
	margin-top: 15px;
}

#header-3.header-area .header-btn.main-btn:hover {
	background: #fff;
	color: #051232;
}

#header-2.header-area li.nav-item .nav-link {
	color: #fff;
}

.header-area .main-menu .navbar-nav .nav-link.active {
	color: #FCC741;
}

#header-3.header-area .main-menu .navbar-nav .nav-link.active {
	color: #FCC741;
}

#header-2.header-area .main-menu .navbar-nav .nav-link.active {
	color: #FCC741;
}

.header-area .main-menu li.nav-item:hover > a {
	color: #777;
}

.header-area.absolute-header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
	padding: 10px 0;
	-webkit-transition: .3s;
	transition: .3s;
}

.responsive-logo {
	display: none;
}

#header-2 .sub-title p {
	color: #fff;
}

#header-2 .sub-title:before {
	border-left: 2px solid #c5c2c2;
}

#header-2 button.search-btn {
	color: #fff;
}

#header-2 .search-box button:before {
	border-left: 2px solid #9c9a9a;
}

/*-- Search Form --*/

.search-box button {
	text-decoration: none;
	outline: none;
	outline-width: 0 !important;
	border: none;
	background: none;
	position: absolute;
	top: 35px;
	right: 10px;
	font-size: 20px;
}

.search-box button:before {
	position: absolute;
	/* content: ""; */
	top: 50%;
	left: -10px;
	height: 35px;
	border-left: 2px solid #eee;
	margin-top: -20px;
}

.search-box button:hover {
	cursor: pointer;
}

.search-popup {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.search-popup .search-back-drop {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.search-active .search-popup {
	opacity: 1;
	visibility: visible;
}

.search-popup .search-inner {
	position: relative;
	background: #ffffff;
	padding: 25px 0 30px;
	z-index: 1;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.search-active .search-popup .search-inner {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.search-popup .upper-text {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 15px;
}

.search-popup .upper-text .text {
	font-size: 18px;
	letter-spacing: 1px;
}

.search-popup .close-search {
	position: absolute;
	right: 0;
	top: 0;
	color: #4C4C4D;
	font-size: 18px;
	line-height: 27px;
	z-index: 3;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	border: none;
	background: none;
}

.search-popup .form-group form {
	position: relative;
}

.search-popup .form-group {
	position: relative;
	margin: 0px;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
}

.search-popup .form-group input[type="text"],
.search-popup .form-group input[type="search"] {
	position: relative;
	display: block;
	font-size: 24px;
	line-height: 25px;
	color: #333333;
	padding: 10px 14px;
	height: 45px;
	width: 100%;
	background-color: transparent;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	border: none;
	margin-bottom: 5px;
}

.search-popup .form-group input[type="submit"],
.search-popup .form-group button {
	position: absolute;
	right: 14px;
	top: -15px;
	background: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 45px;
	color: #333333;
	padding: 0;
	background: none;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}


/* Header Aside */

#header-aside .aside-content {
	float: right;
	color: #585252;
	margin-top: 20px;
}

#header-aside .aside-content .info-wrap {
	display: table;
	overflow: hidden;
	width: 100%;
}

#header-aside .aside-content .info-i,
#header-aside .aside-content .info-c {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

#header-aside .aside-content .info-c span {
	opacity: .5;
}

#header-aside .aside-content .info-i {
	width: 45px;
}

#header-aside .aside-content .info-i span {
	position: relative;
	z-index: 1;
	font-size: 30px;
	color: #FCC741;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	margin-right: 10px;
}

#header-aside .aside-content .info-i span i::before {
	font-size: 36px;
}

#header-aside .aside-content .info-i span:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border: 1px dashed transparent;
	background-color: transparent;
}

#header-aside .aside-content .inner > div {
	float: left;
	display: block;
	width: 170px;
	position: relative;
	color: #777;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	margin-left: 25px;
	border-right: 2px solid #eee;
}

#header-aside .aside-content .inner > div:last-child {
	border: 0;
}

/* Main Menu 
============== */

.main-menu .navbar {
	padding: 0;
}

.main-menu li.nav-item {
	position: relative;
	margin-right: 30px;
}

#header-2 .main-menu li.nav-item {
	margin-right: 35px;
}

#header-3 .main-menu li.nav-item {
	position: relative;
	margin-right: 40px;
}

.main-menu li.nav-item:last-child {
	margin-right: 0;
}

.main-menu .navbar-nav .nav-link {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	color: #d7d7d7;
	display: block;
	padding: 35px 0;
}

.main-menu .navbar-nav .nav-link.active {
	color: #fff;
}

.main-menu li.nav-item:hover > a {
	color: #fff;
}

/*Dropdown Menu */

.sub-menu {
	position: absolute;
	left: 0;
	top: 90px;
	width: 180px;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 600ms ease;
	transition: all 600ms ease;
	z-index: 99;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.sub-menu::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 4px;
	top: 0;
	left: 0;
	background: #FCC741;
	visibility: hidden;
	opacity: 0;
}

.main-menu li:hover .sub-menu {
	opacity: 1;
	visibility: visible;
	top: 90px;
}

#header-3 .main-menu li:hover .sub-menu {
	opacity: 1;
	visibility: visible;
	top: 80px;
}

#header-2 .main-menu li:hover .sub-menu {
	opacity: 1;
	visibility: visible;
	top: 90px;
}

.main-menu li:hover .sub-menu::after {
	opacity: 1;
	visibility: visible;
}

.main-menu ul.sub-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-menu .sub-menu li {
	display: block;
	border-bottom: 1px solid #eee;
}

.main-menu .sub-menu li a {
	font-size: 15px;
	font-weight: 400;
	display: block;
	padding: 12px;
	color: #191919;
	-webkit-transition: .3s;
	transition: .3s;
}

.main-menu .sub-menu li:hover > a {
	color: #FCC741;
}

.dropdown-toggle::after {
	display: none !important;
}

.navigation .navbar .navbar-nav .nav-item .sub-nav-toggler {
	display: none;
}

/*Header Right Content */

.header-right-content .main-btn {
	padding: 12px 24px;
	margin-top: 24px
}

.header-right-content .main-btn:hover {
	background: #002147;
	color: #fff;
}

/* Hero Area Slider 
==================*/

.single-slide-item {
	background-image: url(../img/banner-1.jpg);
}

.hero-area-bg-2 {
	background-image: url(../img/banner-2.jpg);
}

#home-2 .single-slide-item {
	background-image: url(../img/slider/3.png);
}

#home-2 .hero-area-bg-2 {
	background-image: url(../img/slider/4.jpg);
}

#home-3 .single-slide-item {
	background-image: url(../img/slider/5.jpg);
}


.single-slide-item {
	background-size: cover;
	background-position: center;
	background-color: #ddd;
	color: #fff;
	width: 100%;
	height: 800px;
	display: table;
	position: relative;
	z-index: 1;
}

.single-slide-item h1 {
	color: #fff;
	font-size: 75px;
	font-weight: 600;
	line-height: 90px;
	letter-spacing: 1px;
	margin: 30px 0;
	position: relative;
	padding-left: 35px;
}

.single-slide-item h1:before {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-left: 5px solid#FCC741;
}

#home-2 .single-slide-item h1:before {
	display: none;
}

#home-3 .single-slide-item h1:before {
	display: none;
}

#home-2 .single-slide-item h1 {
	padding-left: 0;
}

.homepage-slides .section-title h6 {
	color: #bfbdbd;
}

#home-2 .single-slide-item h6 {
	color: #fff;
	font-size: 16px;
	letter-spacing: 2px;
	position: relative;
	padding-left: 60px;
}

#home-2 .single-slide-item h6:before {
	position: absolute;
	content: "";
	width: 40px;
	height: 2px;
	left: 0;
	top: 50%;
	background: #FCC741;
	margin-top: -1px;
}

#home-3 .single-slide-item {
	height: 900px;
}

#home-2 .single-slide-item {
	height: 800px;
}

#home-3 .section-title {
	margin-top: 120px;
}

.single-slide-item p {
	color: #ccc7c7;
	font-size: 18px;
	line-height: 30px;
}

.homepage-slides .owl-nav button.owl-prev,
.homepage-slides .owl-nav button.owl-next {
	width: 35px;
	height: 35px;
	border: 2px solid;
	font-size: 20px;
	font-weight: 100;
	line-height: 16px;
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -25px;
	color: #FCC7418c;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
}

.homepage-slides .owl-nav button.owl-next {
	left: auto;
	right: 15px;
}


.homepage-slides:hover .owl-nav button.owl-prev,
.homepage-slides:hover .owl-nav button.owl-next {
	visibility: visible;
	opacity: .3;
}

.homepage-slides .owl-nav button.owl-prev:hover,
.homepage-slides .owl-nav button.owl-next:hover {
	background: #FCC741;
	color: #fff;
	border-color: #FCC741;
	opacity: 1;
}

.hero-area-content {
	display: table-cell;
	vertical-align: middle;
}

.hero-area-content .main-btn {
	margin: 25px 0;
	margin-right: 15px;
}

/* About Section 
============== */

.about-area .section-title {
	margin-bottom: 30px;
}

.info-content-area .section-title h2 {
	position: relative;
	padding-left: 35px;
}

.info-content-area .section-title h2:before {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-left: 5px solid#FCC741;
}

.info-content-area p.highlight {
	position: relative;
	padding-left: 35px;
	margin: 20px 0;
}

.info-content-area p.highlight:before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	top: 5px;
	left: 0;
	background: #FCC741;
}

.founded {
	border-top: 4px solid #eee;
	border-bottom: 4px solid #eee;
	padding: 15px;
}

.founded img {
	border-radius: 5px;
}

.founded-text p {
	font-size: 20px;
	line-height: 25px;
	color: #1A3759;
	font-weight: 500;
	padding: 25px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.info-content-area .main-btn {
	background: transparent;
	color: #FCC741;
	border: 2px solid;
	margin: 40px 0;
}

.info-content-area .main-btn:hover {
	background: #FCC741;
	color: #fff;
	border-color: #FCC741;
}

.info-img img {
	border-radius: 5px;
}

/* Achievement Section 
============== */

.achievement-area {
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}

.single-counter-box {
	text-align: center;
}

.achievement-area .service-icon i:before {
	font-size: 50px;
	color: #FCC741;
}

.single-counter-box p.counter-number {
	font-size: 50px;
	font-weight: 600;
	color: #ffffff;
}

.single-counter-box .counter-number span {
	font-size: 50px;
	font-weight: 600;
	color: #ffffff;
	margin: 40px 0 20px;
}

/* Programe Section
====================== */

.programe-area {
	background: #1A3759;
	background-size: cover;
	height: 500px;
	position: relative;
	z-index: 1;
}

.programe-area .section-title h2 {
	color: #fff;
}

.programe-area .section-title p {
	color: #fff;
	opacity: .9;
}

.programe-wrapper {
	background: #fff;
	position: relative;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.10);
	border-radius: 5px;
}

.programe-inner {
	text-align: center;
	padding: 50px 30px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.programe-inner.bor-rgt-no {
	border-right: 0;
}

.programe-inner h5 {
	margin: 30px 0 10px;
}

.programe-inner:nth-last-child(4) {
	border-right: none;
}

.programe-icon {
	position: relative;
	z-index: 1;
}

p.course-qty {
	display: inline-block;
	padding: 6px 12px;
	margin: 5px 0;
	background: #1A3759;
	color: #fff;
	font-size: 15px;
}

.programe-inner:hover p.course-qty {
	background: #FCC741;
}

/* Spacer
============== */

.spacer {
	position: relative;
}

.spacer-bg {
	background-attachment: fixed;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Course Section
====================== */

.course-area .main-btn {
	background: #fff;
	color: #333;
	margin-top: 40px;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.10);
}

.single-course-item {
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.10);
}

.course-bg {
	position: relative;
	overflow: hidden;
}

.course-bg img {
	border-radius: 5px 5px 0 0;
	transition: transform ease 0.3s;
}

.single-course-item:hover .course-bg img {
	transform: scale(1.07);
}

.course-meta {
	position: absolute;
	background: #fcc741;
	padding: 5px 10px;
	bottom: 15px;
	left: 0;
	color: #fff;
}

.review-mark i:before {
	color: gold;
}

.review-mark i:last-child {
	margin-right: 15px;
}

.course-content {
	background: #fff;
	padding: 25px;
	padding-bottom: 0;
	border-radius: 5px;
}

.course-content p {
	margin: 15px 0 25px;
}

.course-content h5 a {
	color: #333;
	margin: 20px 0 5px;
	font-size: 18px;
	line-height: 28px;
}

.author span {
	color: #fcc741;
	margin: 10px 0;
}

.course-user i {
	display: inline-block;
	font-size: 20px;
	margin-right: 5px;
}

.course-user span {
	float: right;
	color: #48D396;
	font-size: 18px;
	font-weight: 500;
}

.course-user {
	border-top: 1px solid #eee;
	padding: 15px 8px;
}

.single-course-cat-wrap.blue {
	background: #2C7BD6;
}

.single-course-cat-wrap.green {
	background: #1cb773;
}

.single-course-cat-wrap.red {
	background: #E04034;
}

.single-course-cat-wrap.purple {
	background: #BE20C5;
}

/* Feature Section 
============== */

.feature-area .section-title {
	margin-top: 60px;
}

.single-feature-item {
	position: relative;
}

.single-feature-item .feature-icon {
	color: #FCC741;
	display: inline-block;
	padding: 30px 0;
	width: 80px;
	height: 80px;
	text-align: center;
	float: left;
	position: absolute;
	top: -5px;
}

.feature-icon i:before {
	font-size: 60px;
}

.feature-image {
	position: relative;
	z-index: 1;
	margin-top: 50px;
}

.feature-image img {
	border-radius: 5px;
}

.feature-image:after {
	position: absolute;
	content: " ";
	width: 100%;
	height: 100%;
	top: -40px;
	right: -40px;
	border: 10px solid #FCC741;
	z-index: -1;
	border-radius: 5px;
}

.feature-content {
	margin: 40px 0;
	padding-left: 15px;
}

.feature-content h5 {
	font-size: 18px;
	padding-left: 100px;
	margin-bottom: 8px;
}

.feature-content p {
	padding-left: 100px;
}

/* CTA Section
============== */

.cta-area {
	background-image: url(../img/divider.jpg);
	background-attachment: fixed;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}

.cta-area h2 {
	font-size: 40px;
	line-height: 50px;
	color: #fff;
	font-weight: 600;
}

.cta-area h6 {
	color: #FCC741;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 10px;
}

.cta-area p {
	color: #cacaca;
	margin: 12px 0;
}

.cta-area .contact-info {
	margin-top: 18px;
}

.cta-area .contact-info i {
	font-size: 50px;
	float: left;
	padding-right: 10px;
}

.contact-info h5 {
	font-size: 22px;
	color: #fff;
}

.contact-info p {
	margin: 4px 0;
}

.cta-area.white .overlay-2 {
	background: #fff;
}

.cta-area.white h2 {
	color: hsl(0, 0%, 94%);
}

.cta-area.white .main-btn:hover {
	background: #002147;
	color: #fff;
	border-color: #002147;
}

/* Event Section
============== */

.single-event-wrap {
	background: #fff;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.10);
	margin-bottom: 60px;
	border-radius: 5px;
}

.event-bg {
	position: relative;
	z-index: 1;
	border-radius: 5px 0 0 5px;
}

.event-bg {
	background-image: url(../img/sembako.jpg);
}

.event-bg.bg-2 {
	background-image: url(../img/kerja-bakti.jpg);
}

.event-bg.bg-3 {
	background-image: url(../img/vaksin.jpg);
}

.event-bg.bg-4 {
	background-image: url(../img/Agustus.jpg);
}

.event-bg.bg-5 {
	background-image: url(../img/event/5.jpg);
}

.event-bg.bg-6 {
	background-image: url(../img/event/6.jpg);
}

.event-bg img {
	border-radius: 5px 0px 0px 5px;
}

.event-meta i:before {
	font-size: 18px;
	color: #FCC741;
}

.event-date {
	background: #FCC741;
	color: #fff;
	padding: 10px;
	display: inline-block;
	width: 60px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px 0;
}

.event-content {
	padding: 20px;
}

.event-content h6 {
	font-size: 20px;
	margin: 10px 0;
}

.event-content-wrap h2 {
	color: #fff;
}

.single-event-area {
	margin-top: 40px;
	border-bottom: 1px solid #fff;
}

.single-event-area p {
	color: #fff;
}

.single-event-area h5 a {
	font-size: 22px;
	font-weight: 500;
	margin: 8px 0px;
}

/*Testimonial Section 
============== */

.testimonial-bg {
	background-image: url(../img/happy_students.jpg);
	height: 650px;
	border-radius: 5px;
}

.testimonial-content-wrapper {
	margin-top: 50px;
	background: #07294E;
	margin-bottom: 50px;
	margin-left: -60px;
	border-radius: 5px;
}

.testimonial-area .section-title {
	padding: 60px;
	padding-bottom: 0;
	padding-right: 90px;
	margin-bottom: 0;
}

.testimonial-area .section-title h2 {
	color: #fff;
}

.testimonial-carousel {
	padding: 60px;
	padding-top: 0;
}


.testimonial-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
}

.single-carousel-item .ryans-icon i {
	font-size: 60px;
	color: #FCC741;
}

.single-carousel-item p {
	font-size: 16px;
	line-height: 26px;
	color: #f3f0f0;
}

.single-carousel-item .author-desc img {
	max-width: 70px;
	border-radius: 50%;
}

.single-carousel-item .author-desc {
	padding-left: 0;
	margin-top: 40px;
}

.author-desc h5 {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	margin: 15px 0;
}

.single-carousel-item .author-desc span {
	text-transform: capitalize;
	display: block;
	font-size: 80%;
	margin: 5px 0;
}

.testimonial-carousel .owl-dots button.owl-dot span {
	width: 10px;
	height: 10px;
	background: #686C6D;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: 20px;
}

.testimonial-carousel .owl-dots button.owl-dot.active span {
	width: 35px;
	height: 10px;
	border-radius: 7px;
	background: #FCC741;
}

.testimonial-carousel .team-carousel .owl-dots {
	text-align: center;
	margin-top: 50px;
}

/* Blog Section 
============== */

.single-blog-item {
	background: #fff;
	box-shadow: 0 3px 9px -2px #d0cece;
	border-radius: 5px;
	margin-bottom: 30px;
}

.single-blog-item.large {
	width: 100%;
	height: auto;
}

.single-blog-item.small {
	height: 160px;
	margin-bottom: 55px;
}

.single-blog-item.small .blog-bg img {
	height: 160px;
}

.single-blog-item .blog-content {
	padding: 20px 20px 30px;
}

.blog-bg img {
	border-radius: 5px 5px 0px 0px;
}

.single-blog-item.small .blog-bg img {
	border-radius: 5px 0px 0px 5px;
}

.blog-meta p i {
	color: #FCC741;
	font-size: 20px;
	margin-right: 10px;
}

.blog-meta p {
	color: #333E38;
}

.single-blog-item.large .blog-content a {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	color: #1d2143;
}

.single-blog-item.large .blog-content a:hover {
	color: #FCC741;
}

.single-blog-item.medium .blog-content a:hover {
	color: #FCC741;
}

.recent-post a:hover{
	color: #FCC741;
}

.single-blog-item.small .blog-content a {
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	color: #1d2143;
}

.single-blog-item.small .blog-content a:hover {
	color: #FCC741;
}

.blog-area .main-btn.transparent {
	background: #fff;
	color: #333;
	border: 2px solid #fff;
	margin-right: 20px;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.10);
}


/*Client Section */

.single-client-area {
	display: flex;
	justify-content: center;
	align-items: center;
}


.single-client-img img {
	width: 180px;
	height: auto;
	margin-top: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.single-client-img img {
		width: 150px;
		height: auto;
		margin-top: 10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.single-client-img img {
		width: 150px;
		height: auto;
		margin-top: 10px;
	}
}


/* Footer Area
======================== */

.footer-area {
	background-image: url(../img/footer-bg.png);
	background-size: cover;
	background-position: center;
	color: #fff;
}

.footer-area h5 {
	color: #fff;
	margin: 20px 0;
}

.footer-area p {
	margin-top: 16px;
	color: #9aa3b2;
}

.contact-info p {
	margin-bottom: 10px;
}

.footer-area ul li a {
	display: block;
	color: #d7d7d7;
	padding: 7px 0;
}

.footer-up ul li a span {
	color: #FCC741;
	font-size: 18px;
	font-weight: 600;
}

.footer-area ul li a:hover {
	color: #FCC741;
}

.subscribe-form button {
	padding: 15px 40px;
	font-size: 16px;
	line-height: 13px;
	background: #FCC741;
	color: #fff;
	-webkit-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	border: 0;
	cursor: pointer;
}

.subscribe-form {
	position: relative;
}

.subscribe-form input {
	border: 0;
	background: #0b2e63;
}

.subscribe-form input::placeholder {
	color: #797A7E;
	font-size: 14px;
}

.footer-up {
	padding: 80px 0;
}


.footer-up .logo {
	width: 210px;
}

.footer-up .social-area i {
	color: #eee;
	font-size: 21px;
	margin-right: 10px;
	margin-top: 20px;
}

.footer-bottom {
	padding: 10px 0;
	background: #20242d;
}

.footer-bottom p {
	margin: 0;
	color: #707579;
}

p.privacy {
	text-align: right;
}


/*==============================HOME # 02 =================================*/


/* Feature Section # 02
==================== 
*/

.single-feat-item {
	background: #fff;
	height: 350px;
	text-align: center;
	position: relative;
	z-index: 1;
	margin-top: -80px;
	transform: translateY(0);
	transition: .5s;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.10);
	border-radius: 5px;
}

.single-feat-item:hover {
	transform: translateY(-20px);
}

.feat-content {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	padding: 20px 40px 10px;
}

.feat-content h5 {
	margin: 5px 0 15px;
	color: #1d2143;
	font-weight: 500;
}

.feat-icon {
	padding: 30px 0;
	position: relative;
}

.single-feat-item a {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;
	padding: 20px 0;
	color: #fff;
	display: block;
}

.single-feat-item.blue .read-more {
	background: #2C7BD6;
}

.single-feat-item.green .read-more {
	background: #48D396;
}

.single-feat-item.red .read-more {
	background: #E04034;
}

/* Course Category Section
==================== 
*/

.single-course-cat-wrap {
	background-image: url(../img/cat/1.jpg);
	position: relative;
	z-index: 1;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-bottom: 50px;
	border-radius: 5px;
}

.bg-2 {
	background-image: url(../img/cat/2.jpg);
}

.bg-3 {
	background-image: url(../img/cat/3.jpg);
}

.bg-4 {
	background-image: url(../img/cat/4.jpg);
}

.bg-5 {
	background-image: url(../img/cat/5.jpg);
}

.bg-6 {
	background-image: url(../img/cat/6.jpg);
}



.course-cat-inner {
	text-align: center;
}

.course-cat-inner h6 {
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
	margin: 10px 0;
	transform: translateY(70px);
	transition: all .4s ease-out;
}

.course-cat-inner p {
	color: #fff;
	transform: translateY(65px);
	transition: all .4s ease-out;
}

.course-cat-inner .main-btn {
	opacity: 0;
	transform: translateY(200%);
	transition: all .5s ease-out;
}

p.course-qt {
	background: transparent;
	margin-bottom: 30px;
}

.course-cat-inner .main-btn {
	background: #FCC741;
	color: #fff;
	border-radius: 00;
	padding: 15px 20px;
	font-size: 15px;
	margin: 20px 0;
	border-radius: 5px;
}

.single-course-cat-wrap:hover .course-cat-inner h6 {
	transform: translateY(0);
}

.single-course-cat-wrap:hover .course-cat-inner p {
	transform: translateY(0);
}

.single-course-cat-wrap:hover .main-btn {
	transform: translateY(0);
	opacity: 1;
	border-color: #FCC741;
}

/* Achievement Section # 02
============== */

#achieve-2.achievement-area {
	background: #10102D;
	height: 300px;
}

#achieve-2 .single-counter-box p.counter-number {
	color: #fff;
}

#achieve-2 .single-counter-box .counter-number span {
	color: #fff;
}

#achieve-2 .single-counter-box h6 {
	color: #fff;
}

/*Choose Us Section */

.single-key-feat {
	position: relative;
	z-index: 1;
}

.key-icon {
	position: absolute;
	top: 10px;
	left: 0;
}

.key-icon i:before {
	font-size: 55px;
	color: #FCC741;
}

.key-content {
	padding-left: 80px;
}

.key-content h5 {
	font-size: 20px;
	margin: 20px 0;
}

#about-page .key-content h5 {
	color: #fff;
}

#about-page .key-content p {
	color: #cac7c7;
}


/* Team Section 
===========================*/

.team-member-bg {
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 300px;
	border-radius: 5px;
}

.team-member-bg {
	background-image: url(../img/team/1.jpg);
}

.team-bg-2 {
	background-image: url(../img/team/2.jpg);
}

.team-bg-3 {
	background-image: url(../img/team/3.jpg);
}

.team-bg-4 {
	background-image: url(../img/team/4.jpg);
}

.team-bg-5 {
	background-image: url(../img/team/5.jpg);
}

.team-bg-6 {
	background-image: url(../img/team/6.jpg);
}

.team-bg-7 {
	background-image: url(../img/team/7.jpg);
}

.team-bg-8 {
	background-image: url(../img/team/8.jpg);
}

.single-team-member {
	position: relative;
}

.single-team-member .team-content {
	position: absolute;
	bottom: -75px;
	background: #fff;
	text-align: center;
	width: 100%;
}

.team-content .team-title {
	font-weight: 500;
}

.team-content .team-title a {
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0.3px;
	color: #191919;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	margin: 16px 0 5px;
}

.team-content .team-subtitle {
	font-size: 14px;
	color: #7c7c7c;
	margin-bottom: 10px;
}

.team-content .team-subtitle p {
	margin: 0;
	color: #333E38;
}

.team-social ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.team-social ul li {
	display: inline-block;
}

.team-social ul li a {
	font-size: 18px;
	padding: 10px;
	transition: all .3s ease-out;
}

.team-social {
	position: absolute;
	top: 0;
	left: -35px;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-2px);
	transition: all .4s;
}

.team-social ul li {
	display: block;
}

.team-social i {
	color: #FCC741;
}

.single-team-member:hover .team-social {
	visibility: visible;
	opacity: 1;
	left: 0;
	transform: translateY(0);
}

/* Testimonial Section # 02
============== */

#testimonial-2.testimonial-area .section-title {
	padding: 0;
}

#testimonial-2 .single-team-item img {
	max-width: 70px;
	height: auto;
	float: left;
	border-radius: 50%;
}

#testimonial-2 .author-desc {
	margin-top: 30px;
}

#testimonial-2 .author-desc h5 {
	font-size: 16px;
	color: #1d2143;
	padding-left: 80px;
	margin: 0;
}

#testimonial-2 .author-desc span {
	font-size: 90%;
	color: #FCC741;
	padding-left: 10px;
}

#testimonial-2 .single-team-item {
	background: #fff;
	padding: 50px;
	position: relative;
	z-index: 1;
	margin-top: 50px;
	border-bottom: 4px solid #fff;
	transition: .3s;
	border-radius: 5px;
}

#testimonial-2 .single-team-item:hover {
	border-bottom: 4px solid #FCC741;
}

#testimonial-2 .testimonial-icon i {
	font-size: 25px;
	background: #FCC741;
	padding: 10px;
	position: absolute;
	top: -20px;
	color: #fff;
	z-index: 9;
	border-radius: 5px;
}

#testimonial-2.testimonial-area .owl-dots button.owl-dot span {
	width: 10px;
	height: 10px;
	background: #ddd;
	margin-right: 10px;
	margin-top: 20px;
}

#testimonial-2.testimonial-area .owl-dots button.owl-dot.active span {
	width: 35px;
	height: 10px;
	background: #FCC741;
}

#testimonial-2.testimonial-area .team-carousel .owl-dots {
	text-align: center;
	margin-top: 30px;
}


/*=============================HOME # 03 ==================================*/

/* Hero Area 
============== */

.course-search-wrap {
	position: relative;
	z-index: 5;
	background-color: rgb(30 58 88 / 80%);
	padding: 70px 100px 80px;
	margin-top: 100px;
	border-radius: 5px;
}

.course-search-wrap h2 {
	color: #fff;
	font-size: 45px;
	padding-bottom: 8px;
}

.course-search-wrap span {
	font-size: 20px;
	color: #fff;
}

.course-search input {
	background: #fff;
	height: 50px;
	border: none;
	border-left: 1px solid #eee;
}

.course-search .main-btn {
	margin: 0;
	border-radius: 0;
	height: 50px;
	border: none;
	margin-left: -6px;
}

.select-box select {
	background: #fff;
	color: #333;
	padding: 10px;
	width: 250px;
	height: 50px;
	border: none;
	outline: none;
	position: relative;
	margin-right: -6px;
}

.select-box select:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background: #eee;
}

.key-feature-wrap {
	margin-top: 100px;
}

#home-3 .key-content h5 {
	color: #fff;
}

#home-3 .single-slide-item p {
	color: #ccc7c7;
	font-size: 16px;
	line-height: 26px;
}

.course-search .main-btn:hover {
	background: #0F0F2C;
	color: #fff;
}

/* Event Section # 02
============== */

.feat-event-area {
	background-image: url(../img/sign-up.jpg);
	position: relative;
	z-index: 1;
	height: auto;
}

.count-down-cont {
	position: relative;
	z-index: 5;
}

.count-down-cont h3 {
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	padding-bottom: 5px;
}

.count-down-cont h2 {
	font-size: 45px;
	font-weight: 600;
	line-height: 55px;
	color: #FCC741;
	padding: 30px 0;
}

/*Event Countdown Timer */

.single-coundown-item {
	font-size: 60px;
	font-weight: 600;
	display: inline-block;
	padding: 30px;
	padding-left: 0;
	padding-right: 40px;
	line-height: 45px;
	color: #fff;
}

.single-coundown-item span {
	font-size: 20px;
}

.category-form h3 {
	color: #fff;
	font-size: 24px;
}

.single-form .main-btn {
	border-radius: 0;
	margin: 20px 0;
}

/* Price Section 
============== */

.single-price-item {
	background: #fff;
	padding: 50px;
	border-radius: 7px;
	text-align: center;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.10);
}

.single-price-item:hover {
	box-shadow: 0 0 10px #f6f6f6;
}

.single-price-item h5 {
	font-size: 20px;
	font-weight: 500;
	position: relative;
	margin: 20px 0;
}

.single-price-item h5:before {
	position: absolute;
	content: "";
	width: 54px;
	height: 2px;
	bottom: -10px;
	left: 50%;
	margin-left: -27px;
	background: #FCC741;
}

.single-price-item p.price-tag b {
	font-size: 30px;
	color: #020E28;
	margin-right: 10px;
}

.single-price-item p.price-tag {
	margin: 10px 0px;
}

.single-price-item p {
	font-size: 14px;
	margin: 25px 0;
}

.single-price-item p.highlight {
	font-size: 18px;
	font-weight: 500;
}

.single-price-item span {
	margin-top: 30px;
}

.single-price-item .main-btn:hover {
	background: #10102D;
	color: #fff;
	border-color: #10102D;
}


/* Breadcrumb 
============== */

.breadcroumb-area {
	/* background-image: url(../img/bread-bg.jpg); */
}

.breadcroumb-area {
	height: 300px;
	background-size: cover;
	background-position: center bottom;
	background-color: #ddd;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: 2;
}

.breadcroumb-area:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #092c3e;
	opacity: .9;
	z-index: -1;
}

.breadcroumb-area .breadcroumb-title h1 {
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #fff;
	margin-top: 40px;
	position: relative;
	padding-left: 30px;
}

.breadcroumb-area .breadcroumb-title h1:before {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-left: 5px solid#FCC741;
}

.breadcroumb-area h6 a {
	color: #fff;
}

.breadcroumb-area h6 {
	color: #aeb1b3;
	font-size: 16px;
	margin-top: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.breadcroumb-area .breadcroumb-title h1 {
		font-size: 50px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.breadcroumb-area .breadcroumb-title h1 {
		font-size: 40px;
	}
}

@media (max-width: 575px) {
	.breadcroumb-area .breadcroumb-title h1 {
		font-size: 35px;
	}
}

/* Programme Page 
============== */

.programme-list {
	background: #F6F6F6;
	padding: 30px;
	margin-bottom: 30px;
}

.programme-list h5 {
	margin: 30px 0;
}

.programme-list a {
	display: block;
	color: #333;
	padding: 10px;
	margin-bottom: 20px;
	background: #fff;
}

.programme-list a.active {
	background: #FCC741;
	color: #fff;
}

.programme-list a span {
	float: right;
}

.single-programme h2 {
	margin: 30px 0;
}

.single-programme h5 {
	margin: 20px 0;
}

.single-programme p {
	font-size: 16px;
	line-height: 28px;
}

.single-programme-bg img {
	width: 100%;
}

.helpline-section {
	background: #020E28;
	color: #fff;
	padding: 20px;
	margin-top: 35px;
	height: 272px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.helpline-section h4 {
	color: #fff;
	margin-top: 15px;
}

.helpline-section button {
	margin-top: 15px;
}

#programme-page .key-feature h5 {
	margin: 20px 0 5px;
}

#programme-page .key-feature {
	margin-top: 20px;
	text-align: center;
}

#programme-page .key-feature p {
	font-style: italic;
}


/* Blog-Classic Page 
============== */

#blog-page .single-blog-item {
	margin-bottom: 40px;
	background: #fff;
	box-shadow: 0 3px 9px -2px #d0cece;
}

#blog-page .blog-bg img {
	width: 100%;
	height: 100%;
}

#blog-page .blog-content p.blog-meta {
	font-size: 16px;
	color: #898a9c;
}

#blog-page .blog-content a {
	font-size: 24px;
	font-weight: 500;
	color: #00283F;
	margin-bottom: 20px;
}

#blog-page .blog-content a:hover {
	color: #FCC741;
}

#blog-page .blog-content a.read-more {
	text-transform: uppercase;
	font-size: 16px;
	color: #FCC741;
}

.blog-search input {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ddd;
	padding: 0;
	padding-bottom: 15px;
}

.blog-search button {
	background: none;
	margin: 0;
	padding: 0;
}

.blog-search button i {
	color: #191919;
	font-size: 20px;
	opacity: .5;
	position: absolute;
	top: 18px;
	right: 28px;
}

.blog-category h5,
.archive h5 {
	font-size: 24px;
	font-weight: 600;
	margin: 25px 0;
}

.blog-category a,
.archive a {
	display: block;
	color: #191919;
	font-size: 16px;
	margin-bottom: 20px;
}

.blog-category a:hover,
.archive a:hover {
	color: #F35E27;
}

.blog-category a.active,
.archive a.active {
	color: #FCC741;
}

.recent-post h5 {
	margin: 30px 0;
	margin-top: 50px;
	font-weight: 600;
}

.recent-post img {
	float: left;
	width: 70px;
	height: 70px;
}

.single-recent-post h6 {
	margin: 0;
	padding-left: 90px;
}

p.blog-date {
	padding-left: 90px;
}

.single-recent-post {
	padding-bottom: 25px;
}

.single-recent-post .recent-post-content {
	display: block;
	padding-left: 110px;
}

.single-recent-post h6 a {
	color: #3b5688;
	line-height: 1.5;
}

.popular-tag h5 {
	margin: 30px 0;
	margin-top: 50px;
	font-weight: 600;
}

.popular-tag span {
	padding: 8px 15px;
	background: #00283F;
	margin-bottom: 10px;
	margin-right: 10px;
	font-size: 15px;
}

.popular-tag a {
	color: #fff;
	padding: 5px;
}

.popular-tag span.active {
	background: #FCC741;
}

.popular-tag span:hover {
	background: #FCC741;
}

.popular-tag span:hover a {
	color: #fff;
}

.author-profile img {
	width: 90px;
	height: 90px;
	float: left;
}

.comments-section h5 {
	font-size: 22px;
	margin: 40px 0;
}

.comments-section img {
	width: 90px;
	height: 90px;
	float: left;
}

.single-comments-section p {
	padding-left: 120px;
}

.single-comments-section p b {
	color: #333;
}

a.reply-btn {
	text-transform: uppercase;
	font-size: 14px;
}

.comments-form h3 {
	margin: 50px 0;
}

.author-info {
	padding-left: 120px;
}

.author-info h6 {
	margin: 10px 0;
}

.single-comments-section p span {
	font-size: 15px;
	display: block;
}

.blog-search {
	border: 1px solid #ddd;
	padding: 15px;
}

.blog-category,
.recent-post,
.archive,
.popular-tag {
	border: 1px solid #ddd;
	padding: 10px 30px 20px;
	margin: 20px 0;
}

.helpline-section {
	background-size: cover;
	background-position: center center;
	height: 350px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: 1;
	margin-top: 30px;
}

.helpline-section {
	background-image: url(../img/helpline.jpeg);
}

.helpline-content h4 {
	color: #ffff;
}

.helpline-content p {
	color: #fff;
	margin-top: 20px;
}

.helpline-content button {
	z-index: 9;
	position: relative;
}

.pagination-block {
	display: block;
	margin: 45px auto;
}

.pagination-block .page-numbers {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	color: #656c76;
	font-size: 15px;
	font-weight: 600;
	border: 1px solid #e9eef6;
	border-radius: 3px;
	margin: 0 3px;
	padding: 0;
	transition: all 0.3s ease 0s;
}

.page-numbers.current {
	background: #FCC741;
	color: #fff;
	border-color: #FCC741;
}

.pagination-block .page-numbers:hover {
	background: #FCC741;
	color: #fff;
	border-color: #FCC741;
}

/*Blog-Grid */

.blog-content a {
	color: #3b5688;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 20px;
}

.blog-content i {
	color: #FCC741;
	font-size: 20px;
	margin-right: 7px;
}

.blog-content a.read-more {
	text-transform: uppercase;
	font-size: 16px;
	color: #FCC741;
}

/* Single Blog 
============== */

.single-blog-wrap .blog-meta {
	margin: 20px 0;
}

.single-blog-wrap .blog-meta span i {
	color: #FCC741;
	font-size: 20px;
	margin-right: 10px;
}

.single-blog-wrap h3 {
	font-size: 28px;
	margin: 20px 0;
}

.single-blog-wrap h5 {
	margin: 20px 0;
}

/* FAQ CSS 
============== */

.styled-faq {
	margin-top: 50px;
}

.styled-faq .panel-group .panel {
	border-radius: 0;
	-webkit-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
	margin-bottom: 30px;
}

.styled-faq .panel-default > .panel-heading {
	background: none;
	padding: 0;
	border: 1px solid #ddd;
}

.styled-faq .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top: none;
	padding: 10px;
}

.styled-faq .panel .panel-heading h6 {
	font-weight: 600;
}

.styled-faq .panel .panel-heading h6 a {
	display: block;
	text-decoration: none;
	padding: 12px;
	color: #191919;
}

@media (max-width: 575px) {
	.styled-faq .panel .panel-heading h6 a {
		font-size: 14px;
	}
}

.styled-faq .panel .panel-heading h6 a i.fa {
	float: right;
	font-size: 150%;
	line-height: 15px;
	display: none;
	color: #ddd;
}

.styled-faq .panel .panel-heading h6 a[aria-expanded=true] i.fa.fa-angle-up {
	display: block;
}

.styled-faq .panel .panel-heading h6 a[aria-expanded=false] i.fa.fa-angle-down {
	display: block;
}

.question-section {
	background: #F7F7F7;
	padding: 30px;
}

.question-section h6 {
	margin-bottom: 20px;
}

.question-section input,
.question-section textarea {
	background: #fff;
	color: #191919;
	border: none;
}

.question-section input::placeholder,
.question-section textarea::placeholder {
	font-size: 15px;
	color: #191919;
}

.question-section button {
	font-size: 14px;
	letter-spacing: 1px;
}

/* Contact Page  
============== */

.contact-us-area {
	background-image: url(../img/contact-bg-1.jpg);
	background-size: cover;
	height: 500px;
	position: relative;
	z-index: 1;
}

.contact-us-wrapper {
	background: #fff;
	position: relative;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.10);
}

.contact-us-inner {
	text-align: center;
	padding: 40px 30px;
	border-right: 1px solid #eee;
}

.contact-us-inner:nth-last-child(4) {
	border-right: none;
}

.contact-us-inner h5 {
	margin: 40px 0 20px;
}

.contact-us-inner a {
	text-transform: uppercase;
	color: #FCC741;
	font-size: 17px;
	font-weight: 500;
	margin: 20px 0 10px;
}

#contact-us .info-i {
	position: relative;
	z-index: 1;
}

#contact-us .info-i i:before {
	font-size: 50px;
	color: #FCC741;
}

#contact-us .contact-form .main-btn {
	margin-top: 30px;
}

.contact-section {
	background-image: url(../img/contact-bg-2.jpg);
}

.contact-section .section-title h2 {
	color: #fff;
}

.contact-form .main-btn {
	border-radius: 0;
	border: none;
	margin: 40px 0;
}


/*Single Course Page */

.single-course-wrapper {
	padding: 30px;
}

.course-meta-wrap {
	margin-top: 50px;
}

.teacher img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: absolute;
	top: -15px;
}

.teacher h6 {
	padding-left: 90px;
}

.teacher h6 span,
.category h6 span,
.review h6 span {
	display: block;
	color: #777;
	font-size: 14px;
	margin-bottom: 4px;
}

.review i {
	color: #FCC741;
}

.review li a {
	color: #333;
}

.single-course-img {
	margin-top: 50px;
}

.course-overview {
	margin-top: 30px;
}

.course-overview h5 {
	margin: 15px 0;
}

.course-feature {
	padding: 30px;
}

.course-feature h5 {
	font-size: 24px;
	margin-bottom: 15px;
}

.course-feature i {
	color: #FCC741;
	font-size: 20px;
	font-weight: 700;
	margin-right: 10px;
}

.course-feature p {
	border-bottom: 1px solid #ddd;
	padding: 10px;
	font-weight: 500;
}

.course-feature p span {
	float: right;
}

.price-tag {
	font-size: 18px;
	font-weight: 500;
	color: #012147;
	margin-top: 12px;
}

.price-tag span {
	color: #FCC741;
}

.course-feature .main-btn {
	padding: 10px;
	font-size: 14px;
	border-radius: 0;
}

.related-courses {
	margin: 50px 0;
}

.related-courses h5 {
	font-size: 24px;
	margin: 20px 0;
}

.course-category {
	padding: 30px;
	margin-top: 50px;
}

.course-category h5 {
	font-size: 24px;
	margin-bottom: 15px;
}

.course-category .single-course-cat-wrap {
	height: 150px;
	margin: 30px 0;
}

.course-category .course-cat-inner h6 {
	transform: translateY(0);
}

.course-category .course-cat-inner p {
	transform: translateY(0);
}


/*Single Event Page */

.event-details h5 {
	font-size: 20px;
	margin: 20px 0;
}

.event-details h6 {
	font-size: 24px;
	margin: 20px 0;
}

.event-details ul li {
	color: #565656;
	padding-left: 30px;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	position: relative;
}

.event-details ul li:before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background: #FCC741;
	top: 9px;
	left: 0;
}

.upcoming-event {
	padding: 20px;
}

.upcoming-event .event-content {
	padding: 20px;
	margin-bottom: 30px;
}

.upcoming-event h5 {
	font-size: 22px;
	margin: 20px 0;
}

.upcoming-event h6 {
	color: #fff;
}

.upcoming-event p {
	color: #fff;
	opacity: .9;
}

.map-section i {
	font-size: 50px;
	color: #FCC741;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
}

.map-section iframe {
	width: 100%;
}
